# GENERAL
pandas
tqdm
numpy
boto3
dnspython

# FOR STREAMLIT
streamlit
streamlit-authenticator
protobuf

# FOR XLS, XLSX
xlrd
openpyxl
sortedcontainers

# FOR FASTAPI
fastapi
uvicorn
python-multipart

# FOR OAUTH
# google_auth_oauthlib
# pip~=22.0.2
toml
wheel
cryptography
tornado
keyring
setuptools
future
botocore
requests

# OTHER
scipy
pydantic
nltk