# GENERAL
pandas
tqdm
numpy
dnspython

# FOR STREAMLIT
streamlit
# streamlit-authenticator
# protobuf

# FOR XLS, XLSX
xlrd
openpyxl
sortedcontainers

# FOR FASTAPI
fastapi
uvicorn
python-multipart

# FOR OAUTH
# google_auth_oauthlib
# pip~=22.0.2
toml
requests

# OTHER
# scipy
pydantic
nltk
json2table
python_Levenshtein
fuzzywuzzy