<!doctype html>
<title>Test Service for ASL2POSE</title>
<h2>ASL: Input a sentence to process</h2>
<form action="{{ url_for('submit') }}" method="post">
    <textarea name="text" style="margin: 0px; width: 777px; height: 111px;"></textarea>
    <input type="submit">
</form>

<h2>POINTS: Input a sentence to process</h2>
<span style="color: rgb(104,34,34); padding: 0.45em 0.6em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; font-size: 8px">
    Note: It's in a debug mode</span>
<form action="{{ url_for('submit2') }}" method="post">
    <textarea name="text2" style="margin: 0px; width: 777px; height: 111px;"></textarea>
    <input type="submit">
</form>